.frame
{
  display: flex;
  width: 98%;
  width: 98vw;
  height: 98%;
  height: 98vh;
  flex-direction: row;
}
.left_frame
{
  width: 20%;
  border: solid 1px;
}
.right_frame
{
  width: 80%;
  padding-left: 1%;
  overflow: auto;
  border: solid 1px;
}